<div class="col-md-8 col-md-offset-2">
<h1>{{ ctrl.response.page_title }}</h1>
	<form>
		<div ng-repeat="input in ctrl.inputs">
			<div ng-switch on="input.type">
			
				<div ng-switch-when="textarea">
					<div class="form-group">
						<label for="{{ input.title }}">{{ input.title }}</label>
						<textarea type="{{ input.type }}" class="form-control" id="{{ input.title }}" prefill="{{ input.prefill }}">{{ input.value }}</textarea>
					  </div>
				</div>
				
				<div ng-switch-when="mce">
					<div class="form-group">
						<label for="{{ input.title }}">{{ input.title }}</label>
						<textarea type="{{ input.type }}" class="form-control" id="{{ input.title }}" prefill="{{ input.prefill }}">{{ input.value }}</textarea>
					  </div>
				</div>
				
				<div ng-switch-when="select"><!-- Selecting from a dropdown list of options. -->
					<div class="form-group">
						<label for="{{ input.title }}">{{ input.title }}</label>
						<select name="{{ input.name }}" class="form-control">
							<option ng-repeat="option in input.options" value="{{ option.name }}">{{ option.title }}</option>
						</select>
					  </div>
				</div>
				
				<div ng-switch-when="checkbox">
					<div class="checkbox">
						<label><input type="checkbox" ng-checked="input.checked == 'true'" value="on" name="{{ input.name }}">{{ input.title }}</label>
					</div>
				</div>
				
				<div ng-switch-default> <!-- By default assume the input is a standard box type. -->
					 <div class="form-group">
						<label for="{{ input.title }}">{{ input.title }}</label>
						<input type="{{ input.type }}" class="form-control" id="{{ input.title }}" prefill="{{ input.prefill }}" value="{{ input.value }}">
					  </div>
				</div>
			</div><!--Close ng-switch-->
		</div><!--Close loop over inputs-->
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>